#comentario textarea{
    width: 100%;
    height: 180px;
    max-height: 24px;
    min-height: 150px;
    border: 1px solid rgb(153, 153, 153);
    background-color: transparent;
    color: #000000;
    border-radius: 5px;
    padding: 15px 15px;
    outline: none;
    font-size: 16px;
    margin-bottom: 30px;
}

.msgfinal{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 22vh
}